/* ==UserStyle==
@name            IGN Wikis responsive
@version         1.0.1
@description     IGN's Wikis pages are more suitable for wide screens.
@author          BreatFR (https://breat.fr)
@namespace       https://gitlab.com/breatfr
@homepageURL     https://gitlab.com/breatfr/ign-wikis
@updateURL       https://gitlab.com/breatfr/ign-wikis/-/raw/main/css/ign-wikis-responsive.user.css
@supportURL      https://discord.gg/Q8KSHzdBxs
@license         AGPL-3.0-or-later; https://www.gnu.org/licenses/agpl-3.0.txt
==/UserStyle== */

/* === Credits ===
Website          https://breat.fr
facebook         https://www.facebook.com/breatfroff
mastodon         https://mastodon.social/@breat_fr
telegram         https://t.me/breatfr
vk               https://vk.com/breatfroff
X (twitter)      https://x.com/breatfroff
=== Credits === */

@-moz-document url-prefix("https://www.ign.com/wikis/") {
    .content {
        margin: 0px;
    }
    
    .page-content:not(.header-details) {
        padding: 0px;
    }
    
    .image,
    .video {
        border-radius: 16px;
    }
    
    .desktop-wiki-group {
        display: block;
    }
    
    @media (min-width: 641px) {
        .sticky-header.jsx-1640122255 .box-wrapper {
            padding: 0 !important;
        }
        
        .image.large,
        .video.large {
            border-radius: 16px;
            height: auto;
            max-width: 100% !important;
        }
    }
}
